<div *ngIf="isOrgDeleteConfirmation" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div>
      <div class="modal-header">
        <img id="deleteConfirmationMode" alt="" src="../../../assets/Icons/close_icon/close icon 14x14.svg"
          class="close pull-right" (click)="deleteConfirmationMode.hide(); onPopUpClose();" aria-label="Close">
      </div>
      <div class="modal-body" style="margin-top: -18px !important;">
        <div>
          <div class="text-align-center">
            <img src="../../../../assets/Icons/alert_info_red.svg" class="" alt="">
          </div>
          <div class="modal-warning-content pt25">
            Do you want to delete <br />{{currentOrgName}}?
          </div>
          <div *ngIf="!isLoaderStarted" class="row mt25">
            <div class="offset-2 col-4 mt25">
              <button type="button-primary" class="btn btn-white"
                (click)="deleteConfirmationMode.hide();onPopUpClose();">Cancel</button>
            </div>
            <div class="col-4 mt25">
              <button type="button-primary" class="btn btn-black" (click)="deleteOrg()">Delete</button>
            </div>
          </div>
          <div *ngIf="isLoaderStarted" class="row mt25">
            <div class="offset-5 col-2 mt25">
              <img src="./../../../assets/Loader/loader.gif" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isOrgDeleteConfirmation" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div>
      <div class="modal-header">
        <img id="deleteConfirmationMode" alt="" src="../../../assets/Icons/close_icon/close icon 14x14.svg"
          class="close pull-right" (click)="deleteConfirmationMode.hide(); onPopUpClose();" aria-label="Close">
      </div>
      <div class="modal-body" style="margin-top: -18px !important;">
        <div>
          <div class="text-align-center">
            <img src="../../../../assets/Icons/alert_info_red.svg" class="" alt="">
          </div>
          <div class="modal-warning-content pt25">
            Do you want to delete <br /> {{currentUserName}}?
          </div>
          <div *ngIf="!isLoaderStarted" class="row mt25">
            <div class="offset-2 col-4 mt25">
              <button type="button-primary" class="btn btn-white"
                (click)="deleteConfirmationMode.hide();onPopUpClose();">Cancel</button>
            </div>
            <div class="col-4 mt25">
              <button type="button-primary" class="btn btn-black" (click)="deleteUser(false, true)">Delete</button>
            </div>
          </div>
          <div *ngIf="isLoaderStarted" class="row mt25">
            <div class="offset-5 col-2 mt25">
              <img src="./../../../assets/Loader/loader.gif" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>