.contact-sub-title {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.17px;
    color: #5B5B5B;
    padding-top: 25px;
}

input {
    padding: 7px 12px !important;
    font-size: 14px !important;
}

.input-field:focus, .input-field:active {
    box-shadow: none !important;
}
.form-control {
    height: 80px !important;
}

.input-field-lable {
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.17px;
    color: #9B9B9B;
}

.ng-select {
    padding-bottom: 0 !important;
}