<app-settings-menu></app-settings-menu>
<div class="container-fluid">
    <div class="main-card-box text-align-left">
        <div class="row">
            <div class="col-md-3 mt30 text-align-center">
                <div class="image-select-container">
                    <img src="{{orgProfileImage}}" alt="" class="profile-icon image" height="180px" width="180px"
                        style="cursor: unset">
                </div>
            </div>
            <div class="col-md-8">
                <form name="orgForm" id="orgForm" #orgForm="ngForm"
                    (ngSubmit)="!companyData.passError&& !errordata.isErrorData && orgForm.valid && updateOrgProfile() || checkError()">
                    <div class="row">
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">Organization Name</label>
                            <input type="text" class="mt5 custom-empty-input-box" (keypress)="characterOnly($event)"
                                [(ngModel)]="companyData.name" (blur)="onInputFieldChange(companyData)"
                                #orgName="ngModel" id="name" name="orgName" maxlength="50" required>
                            <div id="oName" *ngIf="orgName.valid || orgName.touched || orgForm.submitted">
                                <div class="text-danger" *ngIf="orgName.errors && orgName.errors.required">
                                    Organization name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">Organization Website <span
                                    style="color: #9B9B9B;">(Optional)</span></label>
                            <input type="text" class="mt5 custom-empty-input-box" [(ngModel)]="companyData.websiteUrl"
                                #orgWebsite="ngModel" name="orgWebsite" maxlength="50"
                                pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
                            <div *ngIf="orgWebsite.valid || orgWebsite.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="orgWebsite.errors && orgWebsite.errors.required"
                                    class="text-danger">
                                    Organization website is required.
                                </div>
                                <div class="error-msg" *ngIf="orgWebsite.errors && orgWebsite.errors.pattern"
                                    class="text-danger">
                                    Enter valid website.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 mt30">
                            <label class="profile-content">Organization Address</label>
                            <input type="text" id="orgAddress" class="mt5 custom-empty-input-box"
                                [(ngModel)]="companyData.address" #orgAddress="ngModel" name="orgAddress"
                                maxlength="100" required>
                            <div id="oAddress" *ngIf="orgAddress.valid || orgAddress.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="orgAddress.errors && orgAddress.errors.required"
                                    class="text-danger">
                                    Organization address is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">City</label>
                            <input type="text" id="orgCity" (keypress)="characterOnly($event)"
                                class="mt5 custom-empty-input-box" [(ngModel)]="companyData.city" #orgCity="ngModel"
                                name="orgCity" pattern="[a-zA-Z/s ]*" maxlength="50" required>
                            <div id="oCity" *ngIf="orgCity.valid || orgCity.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="orgCity.errors && orgCity.errors.required"
                                    class="text-danger">
                                    Organization city is required.
                                </div>
                                <div class="error-msg" *ngIf="orgCity.errors && orgCity.errors.pattern"
                                    class="text-danger">
                                    Enter valid city name.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">State</label>
                            <input type="text" class="mt5 custom-empty-input-box" (keypress)="characterOnly($event)"
                                [(ngModel)]="companyData.state" #orgState="ngModel" pattern="[a-zA-Z/s ]*"
                                name="orgState" maxlength="50" required>
                            <div id="oState" *ngIf="orgState.valid || orgState.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="orgState.errors && orgState.errors.required"
                                    class="text-danger">
                                    State is required.
                                </div>
                                <div class="error-msg" *ngIf="orgState.errors && orgState.errors.pattern"
                                    class="text-danger">
                                    Enter valid state.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">Country</label>
                            <ng-select id="orgCountry" class="mt5" [items]="countries" bindLabel="name" bindValue="name"
                                [(ngModel)]="companyData.country" (change)="setCountryCode(companyData.country)"
                                name="orgCountry" aria-required="true" required></ng-select>
                            <div id="oCountry" *ngIf="orgForm.submitted">
                                <div class="error-msg" *ngIf="companyData.country ==null" class="text-danger">
                                    Please select country
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">Zipcode</label>
                            <input id="zipCode" (keypress)="numberOnly($event)" type="text"
                                class="mt5 custom-empty-input-box" [(ngModel)]="companyData.zipCode"
                                #orgZipcode="ngModel" pattern="^(0|[1-9][0-9]*)$" maxlength="10" name="orgZipcode"
                                required>
                            <div id="oZipcode" *ngIf="orgZipcode.valid || orgZipcode.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="orgZipcode.errors && orgZipcode.errors.required "
                                    class="text-danger">
                                    Zipcode is required.
                                </div>
                                <div class="error-msg" *ngIf="orgZipcode.errors && orgZipcode.errors.pattern"
                                    class="text-danger">
                                    Enter valid zipcode.
                                </div>
                            </div>
                        </div>
                        <div id="select-country" class="col-md-6 col-12 mt30">
                            <label class="profile-content">Contact Number</label>
                            <div id="input_box_container">
                                <input id="contactNo" (keypress)="numberOnly($event)" type="text"
                                    class="mt5 custom-empty-input-box" [(ngModel)]="companyData.contactNo"
                                    #contactDetails="ngModel" name="contactDetails" pattern="^[1-9][0-9]{9,14}$"
                                    maxlength="15">
                                <span id="country-code" class="country-code">{{companyData.countryCode}}</span>
                            </div>
                            <div *ngIf="contactDetails.valid || contactDetails.touched || orgForm.submitted">
                                <div class="error-msg" *ngIf="contactDetails.errors && contactDetails.errors.pattern"
                                    class="text-danger">
                                    Enter valid contact number.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt30"></div>
                        <div class="col-md-6 col-12 mt30">
                            <label class="profile-content">Current Plan</label>
                            <input disabled maxlength="14" type="text" style="opacity: 0.5;"
                                class="mt5 custom-empty-input-box" [(ngModel)]="companyData.companyActivePlan"
                                name="orgCurrentPlan">
                        </div>
                    </div>
                    <div class="row mt30">
                        <div class="col-md-2 custom-col-3 col-4">
                            <button class="btn btn-black">Save</button>
                        </div>
                        <div class="col-md-2 col-4" style="line-height: 35px;">
                            <span class="profile-content pointer" style="color: #2F80ED;"
                                (click)="setOrgData()">Cancel</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>